.blogs {
    width:100%;
    padding: 0px 50px;
}

.blogs a {
    color: black;
}

.blogs .blogs-left {
    width: 100%;
    max-width: 650px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-right: 60px;
    padding-top: 10px;
}

.blogs .blogs-left .title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.blogs .blogs-left .title h2 {
    width: fit-content;
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 10px;
    padding: 0 10px 10px;
    border-bottom: 1px solid black;
    margin-bottom: -1px;
}

.blogs .blogs-left .blog-list {
    padding-top: 30px;
    padding-bottom: 30px;
}

.blogs .content-box {
    width: 100%;
    padding-top: 10px;
}

.blogs .content-box .left {
    width: 65%;
}

.blogs .content-box .left .content-title {
    font-size: 20px;
    padding-bottom: 8px;
}

.blogs .content-box .left .content {
    font-size: 16px;
    opacity: 0.8;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 65px;
    white-space: pre-wrap;
}

.blogs .content-box .img {
    width: 35%;
    padding-left: 10px;
}

.blogs .content-box .img img {
    width: 100%;
    border-radius: 10px;
}

.blogs .content-box .time-box {
    padding-top: 12px;
}

.blogs .content-box .time-box span {
    padding-right: 10px;
    font-size: 14px;
}

/* ============ */

@media screen and (max-width: 1023px) {
    
}

@media screen and (max-width: 991px) {
    .blogs {
        display: flex;
        justify-content: center;
    }
    
    .blogs .blogs-left {
        width: 100%;
        max-width: 650px;
        border-right: none;
        padding-right: 0;
    }
}

@media screen and (max-width: 767px) {
    .blogs {
        width: 100%;
        max-width: 650px;
        padding: 20px 5px;
    }

    .blogs .blogs-left .blog-list {
        padding-top: 10px;
    }
}

@media screen and (max-width: 577px) {  
    .blogs .content-box .left .content-title {
        font-size: 16px;
        padding-bottom: 5px;
    }
    
    .blogs .content-box .left .content {
        font-size: 14px;
        max-height: 56px;
    }
    
    .blogs .content-box .time-box span {
        font-size: 12px;
        opacity: 0.6;
    }
}

@media screen and (max-width: 319px) {
    
}