.home {
    width: 100vw;
}

.subscriber {
    padding-left: 60px;
    padding-bottom: 15px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    font-size: 15px;
    padding-top: 40px;
}

.subscriber span {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
}

/* ====================== */

@media screen and (max-width: 991px) {
    .sidebar-wrap {
        display: none;
    }

    .main-content {
        width: 100%;
        padding: 0 20px;
        padding-top: 10px;
    }

    .subscriber {
        padding-left: 25px;
    }
}

@media screen and (max-width: 577px) {
    .main-content {
        padding: 0 10px;
        padding-bottom: 30px;
    }

    .subscriber {
        padding-left: 15px;
        padding-top: 20px;
    }
}