.login {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    background-image: url('https://cdn.fullstack.edu.vn/f8-learning/manual_uploads/f8_bg_auth_1366.png');
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
}

.login .form-login {
    width: 600px;
    height: 100%;
    margin: 0 auto;
    background: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.login .form-login .login-img {
    margin: 0 auto;
    width: 44px;
    height: 44px;
}

.login .form-login h2 {
    font-size: 28px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.login .form-login .input-box {
    width: 50%;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
}

.login .form-login .input-box input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 15px;
}

.login .form-login .input-box i {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding-left: 10px;
    font-size: 14px;
}

.login .form-login span {
    width: 50%;
    font-size: 11px;
    color: #ff5014;
}

.login .form-login .submit {
    padding: 9px 20px;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #ff5014;
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin-top: 40px;
}

.login .form-login .submit:hover {
    cursor: pointer;
    opacity: 0.8;
}

.login .form-login p {
    margin-top: 40px;
    font-size: 14px;
    color: black;
}

.login .form-login p a {
    color: #ff5014;
    font-weight: 500;
}

/* ============ */

@media screen and (max-width: 1023px) {
    .login .form-login {
        width: 500px;
    }

    .login .form-login .input-box {
        width: 300px
    }
}

@media screen and (max-width: 767px) {
    .login .form-login {
        width: 400px;
    }

    .login .form-login .input-box {
        width: 250px
    }
}

@media screen and (max-width: 577px) {
    .login .form-login {
        width: 100%;
        max-width: 400px;
    }

    .login .form-login .input-box {
        width: 250px
    }
}